.mainDiv{
    // margin-top: 500px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    
    // margin-bottom: 500px;
    // margin-top: 300px;
    // background-color: blue;
    // padding-top: 250px;
    p{
        color: black;
    }

}