.about{
    background-color: red;
    margin-top: -760px;
    text-align: center;
    height: 270px;
    .aboutTitle{
        padding-top: 100px;
        color: white;
    }    
}
.mainContainer{
    
    .row{
        .column-1{
            padding: 0px; 
        }
        .column-2{
            padding: 50px;   
            color: black;
            p{
                justify-content: center;
            }
        }
        .column-3{
            color: black;
            padding: 50px;
            height: 370px;
            
            p{
                justify-content: center;
            }
        }
        .column-4{
            height: 370px;
            padding: 0px;
        }

        
        
    }
}

.awardsContainer{
    width: fit-content;

    p{
        margin-top: -35px;
        color: black;
        font-size: small;
    }
}

