.container{
    text-align: center;
    // margin-bottom: 100px;
    h2{
        color: black;
        font-weight: bold;
        margin-bottom: 50px;
    }
    .servicesRow{
        font-size: 60px;
        // background-color: orange;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 50px;

        .icon:hover{
            cursor: pointer;
            color: red;  
        }
    } 
    
    p{
        width: 70%;
        margin: 0 auto;
    }
}



