.NescafeDiv{
    background-image: url("../../../../Assets/Images/house.jpg");
    height: 100vh;
   
    padding-top: 230px;
    padding-left: 170px;
    .text{  
        width: 30%;
        color: white;
        h1:hover{
            cursor: pointer;
            color: red;
        }
    }
}