.Section{
    background-image: url("../../../../Assets/Images/milkyway.jpg");
    height: 100vh;
    margin-bottom: 70px;

   .logo{ 
    background-color: red;
    text-align: center;
    color: white;
    padding-left: 10px;
    padding-right: 10px;    
}
.search{
    display: flex;
    flex: 1;
    justify-content: end;
    color: white;
    font-size: small;
    letter-spacing: 2px;
}
.search:hover{
    color: red;
}
.theStart{
    text-align: center;
    margin-top: 200px;
    h2{
        font-weight: bold;
    }
    .btn{
        background: transparent;
        font-size: small;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .btn:hover{
        background-color: red;
    }
}

}

.column-One{
    background-color: black;
    opacity: 0.9;
    color: white;
    height: 100vh;
    text-align: center;
    padding-top: 20%;
    .title{
        background-color: red;
        margin: 0 auto;
        width: 300px;
        padding: 3px;
        border-radius: 10px;
        h1{
            font-size:50px;
        }
    }
}
.column-Two{
    text-align:end;

    .menu{
        margin-top: 100px;
        font-weight: bold;

        :hover{
            color: red;
            cursor: pointer;
        }
    }
}
@media only screen and (max-width: 600px) {
    .column-Two { 
        position: absolute;
        text-align: start;
        height: 30vh;
        .menu{
            margin-top: -100px;
        }
    }
    .column-One {
        text-align: center;
        transform: translateY(220px); 
        height: 50vh;  
    }
  }
